:root{
    --bg:#ea00ff3b;            /* fondo claro */
    --card:#b13a3a;
    --text:#1a1a1a;
    --muted:#666a7c;
    --indigo:#fa0000;        /* morado */
    --work:#000000;          /* naranja suave */
    --play:#000000;          /* celeste */
    --study:#000000;         /* rojo coral */
    --exercise:#000000;      /* verde */
    --social:#000000;        /* lila */
    --selfcare:#000000;      /* amarillo */
    --radius:40px;           /* bordes más redondeados tipo "pill" */
  }
  
  body{
    background:var(--bg);
    color:var(--text);
  }
  
  /* Perfil */
  .profile-card{
    background:var(--card);
    border-radius:var(--radius);
    box-shadow:0 8px 20px rgba(156, 0, 0, 0.1);
  }
  
  .profile-top{
    background:var(--indigo);
    color:#fff;
  }
  
  /* Tarjetas */
  .card{
    border-radius:var(--radius);
    overflow:hidden;
    box-shadow:0 8px 10px rgba(0,0,0,.08);
  }
  
  .card::before{
    border-radius:0 0 var(--radius) var(--radius); /* cambia la forma del color superior */
  }
  
  .card-inner{
    background:var(--card);
    border-radius:calc(var(--radius) - 0px);
    color:var(--text);
  }
  
